.welcome {
    &__container {
        display: flex;
        max-width: 855px;
        margin: 0 auto;
        gap: 106px;
        padding: 140px 0px 71px 0px;
    } 

    &__left {
        display: flex;
        flex-direction: column;
        gap: 40px;
    }

    &__title {
        font-style: normal;
        font-weight: 700;
        font-size: 44px;
        width: 440px;
    }

    &__description {
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
    }
    
    &__button {
        background: #FF6464;
        border-radius: 2px;
        border: none;
        width: 208px;
        height: 47px;
        color: #FFFFFF;
        font-style: normal;
        font-weight: 500;
        font-size: 20px;
    }
}